<link rel="stylesheet" href="/css/signin.css">
<form>
    <h1>Welcome! Sign In here</h1>
    <input type="email" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
</form>